*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(180, 176, 176);
}
.header {
    background-color: rgb(145, 87, 110);
    color:rgb(230, 229, 225);
    
}

.button {
    text-align: right;
    margin-left: 90%;
    margin-bottom: 1%;
    padding: 0.5%;
    
}

.nav{
    text-align:center;
    padding: 1%;
    padding-bottom: 5%;
    border:solid black 1px ;
    width: 100%;
    height: auto;
    margin:1%;
    font-size:15px ;
    width: 100%;

}

.links-nav{
    padding-left:3%;
    margin-top: 9%;
    color:rgb(28, 149, 165);
}

.footer-index{
    display:flex;
    background-color: rgb(170, 113, 113);
    color:white;
    height: 10vh;
    width: 100%;
    left:0;
    right:0;
    bottom:0;
    position: fixed;
}